{#
/**
* @file
* Template for the Accordion component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{%
    set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Attach the library #}
{{ attach_library('cu_theme/accordion') }}

{# Generate unique ID #}
{% set unique_id = 'block--node--accordion--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(cta_classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div{{ content_attributes.addClass('content') }}>
            {{ content }}
        </div>
    {% endblock %}
</div>