{# Accordion Fields #}

{# Generate a random base ID for the accordion block #}
{% set base_id = 'accordionCU-' ~ random(1000, 9999) %}

<div class="accordion" id="{{ base_id }}">
    {% for item in items %}
        {# Generate unique IDs for each accordion item based on base_id and loop.index #}
        {% set heading_id = 'heading-' ~ base_id ~ '-' ~ loop.index %}
        {% set collapse_id = 'collapse-' ~ base_id ~ '-' ~ loop.index %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="{{ heading_id }}">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ collapse_id }}"
                        aria-expanded="false"
                        aria-controls="{{ collapse_id }}">
                    {# Render the paragraph's title field #}
                    {% if item.content['#paragraph'].field_title %}
                        <p class="h4">{{ item.content['#paragraph'].field_title.value }}</p>
                    {% endif %}
                </button>
            </h2>
            <div id="{{ collapse_id }}"
                 class="accordion-collapse collapse"
                 aria-labelledby="{{ heading_id }}"
                 data-bs-parent="#{{ base_id }}">

                {# Render the paragraph's body field #}
                <div class="accordion-body">
                    {% if item.content['#paragraph'].field_body %}
                        {{ item.content['#paragraph'].field_body.processed|raw }}
                    {% endif %}
                </div>

                {# Render the paragraph's link field #}
                <div class="accordion-link m-4">
                    {% if item.content['#paragraph'].field_link and item.content['#paragraph'].field_link.0 %}
                        <a class="btn btn-primary" href="{{ item.content['#paragraph'].field_link.0.uri }}" target="_blank">
                            {{ item.content['#paragraph'].field_link.0.title }}
                        </a>
                    {% endif %}
                </div>

            </div>
        </div>
    {% endfor %}
</div>